@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:300);
* {
  box-sizing: border-box;
}

.card {
  width: 50%;
  margin: 40px auto;
  background-color: #F7F7E9;
  color: #444;
  overflow: hidden;
  box-shadow: 5px 5px 0 0 #aaa;
}
.card .bio {
  position: relative;
  margin: 20px;
  font-family: Merriweather Sans;
  animation: slidein 1.2s;
}

@keyframes fadein {
  from {
    color: transparent;
  }
  to {
    color: inherit;
  }
}
@keyframes grow {
  from {
    transform: scale(0);
  }
  80% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}
@keyframes slidein {
  from {
    opacity: 0;
  }
  49.9% {
    opacity: 0;
  }
  50% {
    left: -240px;
  }
  to {
    left: 0;
  }
}
.comment {
  font-family: Merriweather Sans;
  font-size: 12px;
  color: #ddd;
  text-align: left;
}
